* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #bcbdc0;
	color: white;
}

.navbar__container__logo {
	display: flex;

	width: 64px;
	height: 64px;
}

.navbar__container__ul {
	display: flex;
	align-items: center;
}

.navbar__container__li {
	list-style: none;
}

.navbar__container__li:hover {
	background-color: #f5d3c8;
}

.navbar__container__li a {
	text-decoration: none;
	color: #4a274f;
	margin: 1rem 3rem;
	display: block;
}
