* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: linear-gradient(
			to bottom,
			rgba(114, 116, 131, 0.219),
			rgba(77, 2, 58, 0.73)
		),
		url('../resources/pexels-tyler-lastovich-997443\(1\).jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.aboutMe__container {
	padding-top: 1.1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.aboutMe__container__card {
	padding: 2rem 3rem;

	background: rgba(250, 250, 250, 0.86);
	display: flex;
	flex-direction: column;
	border-radius: 1.2rem;
}

.aboutMe__container__card__image {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.aboutMe__container__card__image img {
	border-radius: 1.5rem;
}

.aboutMe__container__card__image p {
	padding: 0.7rem;
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
}

.aboutMe__container__card__info h1 {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.aboutMe__container__card {
		margin: 0rem 10rem;
	}
}

@media screen and (min-width: 1050px) {
	.aboutMe__container {
		padding: 1.1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}

	.aboutMe__container__card {
		width: 70%;
		padding: 2rem 3rem;
		background-color: rgba(250, 250, 250, 0.86);
		display: flex;
		flex-direction: row;
		border-radius: 2rem;
	}

	.aboutMe__container__card__image {
		display: flex;
		flex-direction: column;
		padding-right: 1rem;
	}

	.aboutMe__container__card__image p {
		padding-top: 1rem;
		font-size: 1.2rem;
		text-align: center;
	}

	.aboutMe__container__card__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.aboutMe__container__card__info h1 {
	}

	.aboutMe__container__card__info p {
		padding: 2rem;
		font-size: 1.1em;
	}
}
